@charset "utf-8";
* {
  font-family: Poppins;
  font-style: normal;
  font-size: 23px;
  font-weight: 500;
  padding: 0px;
  margin-left: 0px;
}
body {
  max-width: max-content;
  margin: auto;
  background-color: #f6f1e9;
}
span {
  color: #fd9b32;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
}
button {
  display: inline-block;
  position: absolute;
  margin: 0px 0px 0px 0px;
  height: 55px;
  border-radius: 100px;
  background-color: #fd9b32;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500px;
}
h1 {
  font-size: 23px;
  font-weight: bold;
  color: #fd9b32;
}
h2 {
  font-size: 88px;
  font-weight: bolder;
  color: black;
}
h3 {
  font-size: 48px;
  font-weight: bolder;
  color: black;
  line-height: 64px;
}
h4 {
  font-size: 38px;
  font-weight: 600;
  color: #fd9b32;
}
h5 {
  font-size: 28px;
  font-weight: 500;
  color: white;
}
p {
  font-family: Rubik;
  font-size: 16px;
  font-weight: normal;
  color: #797979;
  line-height: 30px;
}
/*------HEADER---------------------------*/
#header {
  height: 845px;
  width: 1485px;
  display: block;
  position: relative;
  margin: 73px 0px 0px 216px;
}
#logo {
  display: inline-block;
  position: absolute;
  margin: 12px 0px 0px 2px;
}
#header #buttons {
  display: inline-block;
  position: absolute;
  margin: 14px 0px 0px 1237px;
}
#big-hero {
  background-color: antiquewhite;
  display: inline-block;
  position: absolute;
  margin: 158px 0px 0px 0px;
}
#big-hero h1 {
  display: inline-block;
  position: absolute;
  margin: 55px 0px 0px 1px;
  width: 840px;
}
#big-hero h2 {
  display: inline-block;
  position: absolute;
  margin: 121px 0px 0px 0px;
  width: 840px;
  letter-spacing: -4px;
  line-height: 100px;
}
#big-hero p {
  display: inline-block;
  position: absolute;
  margin: 390px 0px 0px 0px;
  width: 800px;
}
#big-hero button {
  display: inline-block;
  position: absolute;
  width: 167px;
  margin: 525px 0px 0px 0px;
}
#big-hero .button1 {
  display: inline-block;
  position: absolute;
  width: 211px;
  margin: 525px 0px 0px 215px;
}
.button1 {
  background-color: transparent;
  border: solid;
  border-color: #FD9B32;
  color: #FD9B32;
}
.circle {
  display: inline-block;
  position: absolute;
  width: 560px;
  height: 560px;
  background-color: #FD9B32;
  border-radius: 100%;
  margin: 96px 0px 0px 925px;
}
.circle img {
  position: absolute;
  bottom: -5px;
  left: 15px;
}
nav {
  display: inline-block;
  position: absolute;
  margin: 0px 0px 0px 440px;
}
ul li {
  display: inline-block;
  position: relative;
  margin: 0px 63px 0px 0px;
}
ul li a {
  font-size: 17px;
  text-decoration: none;
  color: black;
  vertical-align: text-top;
}
#buttons img {
  display: inline-block;
  position: relative;
  margin-right: 28px;
}
#login {
  display: inline-block;
  position: absolute;
  width: 142px;
  margin: 0px 0px 0px 1344px;
  font-weight: bold;
  font-size: 17px;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#our-services {
  height: 670px;
  width: 1490px;
  display: block;
  position: relative;
  margin: 150px 0px 0px 216px;
}
#our-services h1 {
  position: relative;
  text-align: center;
}
#our-services h3 {
  position: relative;
  text-align: center;
}
.services {
  display: inline-block;
  position: relative;
  width: 360px;
  height: 500px;
  margin-right: 198px;
}
.services img {
  display: inline-block;
  position: relative;
  align-content: center;
  width: 360px;
  height: 300px;
}
.services h4 {
  position: relative;
  text-align: center;
  margin-top: 40px;
}
.services p {
  display: inline-block;
  position: relative;
  text-align: center;
  margin-top: 30px;
  line-height: 20px;
  width: 330px;
  vertical-align: top;
}
.services.last {
  margin-right: 0px;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#about-us {
  height: 570px;
  width: 1490px;
  display: block;
  position: relative;
  margin: 210px 0px 0px 216px;
}
#about-us h1 {
  position: absolute;
  margin: 60px 0px 0px 840px;
}
#about-us h3 {
  position: absolute;
  margin: 110px 0px 0px 840px;
}
#about-us p {
  position: absolute;
  margin: 210px 0px 0px 840px;
  width: 650px;
}
#about-us button {
  position: absolute;
  margin: 450px 0px 0px 840px;
  width: 170px;
}
.semi-circle {
  display: inline-block;
  position: relative;
  width: 640px;
  height: 360px;
  border-top-left-radius: 360px;
  border-top-right-radius: 360px;
  background-color: #FD9B32;
  margin: 0px 0px 0px 0px;
}
.semi-circle img {
  position: absolute;
  display: block;
  margin: 50px 0px 0px 50px;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#about-us2 {
  height: 660px;
  width: 1490px;
  display: block;
  position: relative;
  margin: 170px 0px 0px 216px;
}
#about-us2 h1 {
  position: absolute;
  margin: 170px 0px 0px 0px;
}
#about-us2 h3 {
  position: absolute;
  margin: 230px 0px 0px 0px;
}
#about-us2 p {
  position: absolute;
  margin: 310px 0px 0px 0px;
  width: 650px;
}
#about-us2 button {
  position: absolute;
  margin: 560px 0px 0px 0px;
  width: 170px;
}
.semi-round-square {
  display: inline-block;
  position: absolute;
  width: 660px;
  height: 270px;
  border-bottom-left-radius: 93px;
  border-bottom-right-radius: 93px;
  background-color: #FD9B32;
  bottom: 0px;
  right: 0px;
}
.semi-round-square img {
  position: absolute;
  display: block;
  bottom: 45px;
  left: 155px;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#top-menu {
  height: 911px;
  width: 1920px;
  display: block;
  position: relative;
  margin: 205px 0px 0px 0px;
}
#top-menu h1 {
  margin: 0px 0px 0px 216px;
}
#top-menu h3 {
  width: 570px;
  margin: 30px 0px 0px 216px;
}
.bg {
  display: block;
  position: absolute;
  bottom: 0px;
  height: 700px;
  width: 1920px;
  background-color: #FD9B32;
  z-index: -1;
}
#top-menu .menus {
  display: inline-block;
  position: relative;
  width: 450px;
  height: 575px;
  background-color: black;
  margin: 80px 35px 0px 35px;
  border-radius: 40px;
}
#top-menu .menus-first {
  margin-left: 205px;
}
#top-menu .menus-last {
  margin-right: 205px;
}
#top-menu .menus h5 {
  display: inline-block;
  position: absolute;
  margin: 420px 0px 0px 35px;
}
#top-menu .menus div {
  display: inline-block;
  position: absolute;
  margin: 468px 0px 0px 35px;
  font-size: 23px;
  font-weight: 600;
  color: white;
}
#top-menu .menus div span {
  font-size: 20px;
  font-weight: 500;
}
#top-menu .menus .order-now {
  display: inline-block;
  position: absolute;
  font-size: 20px;
  font-weight: 500;
  margin: 500px 0px 0px 35px;
  cursor: pointer;
}
#top-menu .menus .shadow {
  display: block;
  position: absolute;
  width: 450px;
  height: 575px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  border-radius: 40px;
  margin: 0px 0px 0px 0px;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#top-best {
  height: 750px;
  width: 1490px;
  display: block;
  position: relative;
  margin: 170px 0px 0px 216px;
}
#top-best h1 {
  position: relative;
  text-align: center;
  margin-top: px;
}
#top-best h3 {
  position: relative;
  text-align: center;
  margin-top: -10px;
}
#top-best .rmenus {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 490px;
  background-color: black;
  margin: 30px 80px 0px 0px;
  border-radius: 40px;
}
#top-best .rmenus-last {
  margin-right: 0px;
}
#top-best .rmenus h5 {
  display: inline-block;
  position: absolute;
  margin: 400px 0px 0px 35px;
  font-size: 23px;
}
#top-best .rmenus .order-now {
  display: inline-block;
  position: absolute;
  font-size: 17px;
  font-weight: 400;
  color: white;
  margin: 440px 0px 0px 35px;
  cursor: pointer;
}
#top-best .rmenus .shadow {
  display: block;
  position: absolute;
  width: 450px;
  height: 575px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  border-radius: 40px;
  margin: 0px 0px 0px 0px;
}
#circles .circle {
  height: 60px;
  width: 60px;
  display: inline-block;
  position: relative;
  text-align: center;
  margin: 0px 10px 0px 0px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}
#circles .visited {
  background-color: gray;
  color: black;
}
#top-menu #circles {
  display: inline-block;
  position: absolute;
  margin: 90px 0px 0px 1575px;
}
#testi {
  height: 669px;
  width: 1490px;
  display: block;
  position: relative;
  margin: 148px 0px 0px 216px;
  background-color: aqua;
}
.testis {
  display: inline-block;
  position: relative;
  width: 360px;
  height: 500px;
  margin-right: 198px;
}
.testis img {
  display: inline-block;
  position: relative;
  align-content: center;
  width: 360px;
  height: 300px;
}
.testis h4 {
  position: relative;
  text-align: center;
  margin-top: 40px;
}
.testis p {
  display: inline-block;
  position: relative;
  text-align: center;
  margin-top: 30px;
  line-height: 20px;
  width: 330px;
  vertical-align: top;
}
.testis.middle {
  margin: 150px;
}